@page "/Error"
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]
@using System.Diagnostics

@inject IStringLocalizer<CommonResource> CommonLoc

<PageTitle>@CommonLoc["Error_PageTitle"]</PageTitle>

<h1 class="text-danger">@CommonLoc["Error_Heading"]</h1>
<h2 class="text-danger">@CommonLoc["Error_Description"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@CommonLoc["Error_RequestId"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@CommonLoc["Error_DevelopmentMode"]</h3>
<p>
    @CommonLoc["Error_DevelopmentInfo"]
</p>
<p>
    @CommonLoc["Error_DevelopmentWarning"]
</p>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
